*.filters
*.log
*.suo
Debug
Release
/ArduinoTutorials/Projects/Temperature/__vm
/ArduinoTutorials/Projects/Speaker/__vm
/ArduinoTutorials/Projects/IR Module/__vm
/ArduinoTutorials/Projects/BlinkFaster/__vm
/ArduinoTutorials/Projects/Joystick/__vm
/ArduinoTutorials/Projects/Keypad/__vm
Factures + Justificatifs
/Doc/Arduino IDE
Elegoo Dev Kits
/Libraries/Core/__vm
/ArduinoTutorials/Projects/LED Latches/__vm
/ArduinoTutorials/Projects/LED Latches/Debug
/ArduinoTutorials/Projects/LED Matrix/__vm
/ArduinoTutorials/Projects/LED Matrix/Debug
/ArduinoTutorials/Projects/RFID/__vm
/ArduinoTutorials/Projects/RFID/Debug
__vm
/Doc/Datasheets/RF Devices/Broadcom 20702 Bluetooth USB Adapter/VISTA_WIN7/Setup.exe
/Doc/Datasheets/RF Devices/Broadcom 20702 Bluetooth USB Adapter/WIN8/Setup.exe
/Tests/Projects/ESP32 Bluetooth Speaker/Docs
/Tests/Projects/ESP32 Bluetooth Speaker/Test3/Docs
/Tests/Projects/Arduino nRF24L01/Docs
/Tests/Projects/Arduino LoRa Tanks Water Level Monitor/Docs
/Tests/Projects/Arduino nRF24L01/Code/Test1/TestESP32/build
/Tests/Projects/ESP32 Bluetooth Speaker/Test2 - Copy
